<div id='aboutRow' class='row'>
	<div class="row">

<!-- 		<h1 class='aboutBig large-4 small-4 columns'>
			<%= image_tag "mePic3.jpg", :class => "mePic1 large-4 small-4 columns" %>
		</h1> -->

		<h2 class='aboutMed large-12 small-12 columns'>
			<%= image_tag "mePic3.jpg", :class => "mePic1 small-4" %>
			I'm Robert Sahm.<br />
			I totally dig design, code and most of all, the intersection between the two.
		</h2>

	</div>
	<div class="row">
		<p class="aboutP">
			I'm a self-taught web designer and developer, freelancing for 3 years in New York City. I build sites using Ruby on Rails, PHP, JavaScript/jQuery, HTML, CSS, SCSS, GitHub, Foundtion and Bootstrap...but of course I'm always looking for, and learning, best new tech(niques) to incorporate into my work. I'm also pretty snappy with these Adobe Apps:
		</p>
	</div>
	<div class="row adobeStuff">
		<!-- <p class="aboutP centered large-12 small-12 large-centered small-centered columns">
			I'm snappy with these Adobe apps:
		</p> -->
		<div class="large-6 small-11 columns">
			<%= image_tag "iconsAdobe.png", :class => "iconsAdobe" %>
		</div>
	</div>
	<div class="row">
		<p class="aboutP">
			I was born and raised in Bethesda, Maryland, then got my B.S. in video production from Ithaca College. In my spare time you'll find me writing, engineering, mixing and producing music. I also wrote, recorded and toured for 3 years with my band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup.
		</p>
	</div>
	<div class="row">
		<h3 class="aboutP centered large-12 small-12 large-centered small-centered columns">
			<a id="dlPDF" href="https://docs.google.com/file/d/0B9xSPI5ygokWN3JXUHBPMjE5UE0/edit?usp=sharing" target="_blank" >Download my resume</a>
		</h3>
	</div>
</div>
