<div id='aboutRow' class='row'>
	<div class="row">

<!-- 		<h1 class='aboutBig large-4 small-4 columns'>
			<%= image_tag "mePic2.jpg", :class => "mePic1 large-4 small-4 columns" %>
		</h1> -->
		
		<h2 class='aboutMed'>
		<%= image_tag "mePic2.jpg", :class => "mePic2 small-3 large-3 columns" %>
			Welcome! I'm Robert Sahm. I totally dig design, code and most of all, the intersection between the two.
		</h2>
		<p class="aboutP">
			I'm a self-taught web designer and developer, freelancing for 3 years in New York City. I build sites using JavaScript, jQuery, Ruby on Rails, PHP, HTML, CSS, SCSS, GitHub, Foundtion and Bootstrap...but of course I'm always learning and incorporating the best new web building tech(niques). 
			<br />
			<br />
			I'm also pretty snappy with these Adobe Apps:
		</p>
		<div class="row adobeStuff">
			<div class="large-6 small-11 columns">
				<%= image_tag "iconsAdobe.png", :class => "iconsAdobe" %>
			</div>
		</div>
		<h2>Fun Facts!</h2>
		<ul class="factsUl">
			<li><p class="aboutList">I received my B.S. in video production from Ithaca College in 2004
			</p></li>
			<li><p class="aboutList">I toured the US and Europe a bunch of times as a drummer with my indie rock band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup</a>, also check out my current band <a href="http://ponyhofmusic.com/">Ponyhof</a>
			</p></li>
			<li><p class="aboutList">I lived in rural north-western Thailand for 6 months, building, fixing and maintaining Burmese refugees' computer labs so that they could do research for their combat medic training. This basically involved installing and customizing Ubuntu installations on older hardware.
			</p></li>
			<li><p class="aboutList">I played 4 years of high-school varsity volleyball. I love volleyball.
			</p></li>
			<li><p class="aboutList">I was a waiter at the seafood restaurant <a href="http://www.blacksaltrestaurant.com">BlackSalt</a> and it turned out to be one of my favorite jobs I've ever had.
			</p></li>
			<li><p class="aboutList">When not working on websites, you'll find me producing and performing music all over town
			</p></li>
		</ul>









		<p class="aboutP">
			<!-- I was born and raised in Bethesda, Maryland, then got my B.S. in video production from Ithaca College. In my spare time you'll find me writing, engineering, mixing and producing music. I also wrote, recorded and toured for 3 years with my band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup.</a> -->
			<!-- <br />
			<br />
			Fun facts! <br />
			-I received my B.S. in video production from Ithaca College in 2004
			<br />
			- I lived in rural north-western Thailand for 6 months, fixing and maintaining Burmese refugees' computer labs so they could research their combat medic training. This basically involved installing and customizing Ubuntu installations on older hardware.
			<br /> 
			- I toured Europe 3 times with my indie rock band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup</a>
			<br /> 
			- I played 4 years of high-school varsity volleyball
			<br /> -->



		</p>
	</div>
<!-- 	<div class="row">
		
	</div> -->
<!-- 	<div class="row adobeStuff">
		<p class="aboutP centered large-12 small-12 large-centered small-centered columns">
			I'm snappy with these Adobe apps:
		</p>
		<div class="large-6 small-11 large-centered small-centered columns">
			<%= image_tag "iconsAdobe.png", :class => "iconsAdobe" %>
		</div>
	</div> -->
<!-- 	<div class="row">
		<p class="aboutP">
			I was born and raised in Bethesda, Maryland, then got my B.S. in video production from Ithaca College. In my spare time you'll find me writing, engineering, mixing and producing music. I also wrote, recorded and toured for 3 years with my band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup.</a>
		</p>
	</div> -->
	<div class="row">
		<h3 class="aboutP centered large-12 small-12 large-centered small-centered columns">
			<a id="dlPDF" href="https://docs.google.com/file/d/0B9xSPI5ygokWN3JXUHBPMjE5UE0/edit?usp=sharing" target="_blank" >Download my resume</a>
			<br /><br />
			<a class="homeLink">back</a><br /><br />
		</h3>
	</div>
</div>
