

<!-- Intro Row -->
<div id="rowIntro" class="row rowIntro introHide">
  <div class="large-12 small-12 small-centered large-centered columns introWrapper">
    <!-- <h1 class="biggest">I've probably thought a little <span class="ital">too</span> much about pixels.</h1> -->
    <!-- <h1 class="biggest">one man band</h1> -->
    <h1 class="biggest">Let's create something</h1>
    <!-- <h1 class="biggestItal">\ˈwəndərfəl\</h1> -->
    <div id="fittext">
      <h1 id="introWord1" class="biggestItal">
        <a class="w introLetter">w</a><a class="o introLetter">o</a><a class="n introLetter">n</a><a class="dot1 introLetter">·</a><a class="d introLetter">d</a><a class="e introLetter">e</a><a class="r introLetter">r</a><a class="dot2 introLetter">·</a><a class="f introLetter">f</a><a class="u introLetter">u</a><a class="l introLetter">l</a>
      </h1>
      <h1 id="introWord2" class="biggestItal biggestItal2 large-12 small-12 small-centered large-centered columns">
        <a class="e2 introLetter2">e</a><a class="x2 introLetter2">x</a><a class="dot1b introLetter2">·</a><a class="c2 introLetter2">c</a><a class="i2 introLetter2">i</a><a class="t2 introLetter2">t</a><a class="dot2b introLetter2">·</a><a class="i2b introLetter2">i</a><a class="n2 introLetter2">n</a><a class="g2 introLetter2">g</a><a class="chk introLetter2">!</a>
      </h1>
    </div>
  </div>
</div> <!-- End intro row -->

<h2 class="biggest workIntroText">...or something that just works really well.</h2>
<div class="workIntroText large-12 small-12 small-centered large-centered columns">
  <h1 class="">Please enjoy a choice selection of my recent work</h1>
</div>