<!-- 
                                ,,        
`7MM               mm         `7MM        
  MM               MM           MM        
  MM  ,MP'.gP"Ya mmMMmm ,p6"bo  MMpMMMb.  
  MM ;Y  ,M'   Yb  MM  6M'  OO  MM    MM  
  MM;Mm  8M""""""  MM  8M       MM    MM  
  MM `Mb.YM.    ,  MM  YM.    , MM    MM  
.JMML. YA.`Mbmmd'  `MbmoYMbmd'.JMML  JMML.

 -->                                                                         
<!--  Ketchum Row -->
<div id="ketchRow" class="fullBlock">
  <div class="large-12 small-12 columns">
    <div class="commentText row">
      <h1 class="ketchHeader large-12 small-12 large-centered small-centered columns">
        Static content, brought to life.
      </h1>
    </div>
  </div>
  <div class="ketchHider">
    <iframe id="ketchIframe" src="http://ketchumlabs.com" frameBorder="0"></iframe>
  </div>
  <div class="row ketchMakingRow">
    <p class="ketchComment2 large-9 small-11 large-centered small-centered columns">
      <span>Ketchum Labs</span> is a Los Angeles-based video production studio. The site had detailed Photoshop designs mostly completed before I came onto the project, but this job was clearly more then a run-of-the-mill "Photoshop to HTML/CSS/JS" job. 
    </p>
    <div class="large-9 small-9 large-centered small-centered columns">
      <%= image_tag "ketchMaking.png", :class => "ketchMaking" %>
    </div>
  </div>

  <div class="row ketchMakingRow2">
    <p class="ketchComment2 large-9 small-11 large-centered small-centered columns">
      Since texture, transparency, and the animation of the various tilted 3D blocks played such a large role in the overall design language of the site, keeping those elements while considering load times and browser performance proved to be a rewarding challenge.
    </p>

    <div class="large-10 small-12 large-centered small-centered columns">
      <%= image_tag "ketchPlayer.png", :class => "ketchPlayer" %>
    </div>
    <p class="ketchComment2 large-9 small-11 large-centered small-centered columns">
      A back-end Rails video solution was also implemented. After being uploaded Amazon S3, the videos can be arranged and filtered with tags to appear in the video slider.
    </p>
    <div class="large-10 small-12 large-centered small-centered columns">
      <%= image_tag "ketchMaking3.png", :class => "ketchMaking" %>
    </div>
  </div>
  <!-- <div class="row">
    <div class="large-3 small-8 large-centered small-centered columns">
      <%= image_tag "ketchumLogo.png", :class => "ketchumLogo" %>
    </div>
  </div> -->
  <div class="row ketchMakingRow2">
    <p class="ketchComment2 ketchCentered large-7 small-11 large-centered small-centered columns">
      Rails, Amazon S3 (asset storage), GitHub, Heroku, SASS/Compass, jQuery, CSS(3)
    </p>
  </div>
  <p class="ketchComment2 ketchCentered ketchLink small-11 large-centered small-centered columns">
    <a href="http://ketchumlabs.com" target="_blank">View live Site</a>
    <br />
    <a class="homeLink">back</a><br />
  </p>
</div>